    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 class="center">Hi there,</h3>
            <p class="justify">I’m a guy of many talents and never stop learning. Here you will find my 
            most current version of my resume and portfolio at any given point. If you’re looking at this site on a 
            mobile phone, click the three bar (hamburger) icon to see the navigation menu, otherwise the navigation is 
            up top. Enjoy your visit!</p>
          </div>
        </div>
        <div class="row">
          <div class="col m6">
            <h5>Web Developer</h5>
            <p class="justify">I’ve worked as a web developer since 2013 at Superfine Studios Inc, now known as ANX Group. 
            During this time I’ve learned to use web technologies that go above and beyond simple CSS and HTML 
            that allow me to create interactive and easy-to-maintain websites for a variety of clients.</p>
          </div>
          <div class="col m6">
            <h5>Graphic Designer</h5>
            <p class="justify">During my time at ANX Group, I’ve also designed desktop publishing materials such as Business 
            Cards, Posters, Signs, Letterheads, Documents, Cover Pages, and even interactive, form-fillable PDFs. 
            I have years of experience with software such as InDesign and Photoshop.</p>
          </div>
        </div>
        <div class="row">
          <div class="col m6">
            <h5>Customer Service</h5>
            <p class="justify">I haven’t always worked in the technology sector; this allowed me to pick up customer service 
            skills from working in both a retail and office environment. Working directly with clients has 
            been a large part of my life since I was a teenager, and I have become very good at it. I also 
            worked directly with clients at ANX Group when helping to close sales or handling customer inquiries 
            about their projects.</p>
          </div>
          <div class="col m6">
            <h5>Marketing</h5>
            <p class="justify">Recently I had the opportunity to work with a large international direct marketing firm, you 
            may know them as Crossmark. I executed marketing plans on their behalf at the retail level, and 
            learned how customers react to different marketing techniques. I applied this knowledge to act as 
            a marketing consultant at ANX Group as well.</p>
          </div>
        </div>      
      </div>
    </main>