<div class="row">
    <div class="col s12">
        <div class="col s12" id="messages">
        </div>
        <div class="col s12">
            <form class="chatform" action="">
                <div class="col s9">
                    <input id="m" autocomplete="off" />
                </div>
                <div class="col s3">
                    <input type="submit" class="btn" value="Send" />
                </div>
            </form>
        </div>
    </div>
</div>