    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 class="center">Thank you for your interest!</h3>
            <p class="justify">I have references available should you require them, but please note that
            references will only be given out to freelance contract requests when the project is considered
            to be a major and/or expensive project. Should you be looking to hire me on a part-time, contract,
            or full-time basis please don't hesitate to ask. I'm willing to do work on the following terms:</p>
          </div>
          <div class="col m4">
            <h5 class ="center">Freelance</h5>
          </div>
          <div class="col m4">
            <h5 class ="center">Contract</h5>
          </div>
          <div class="col m4">
            <h5 class ="center">Full &amp; Part Time</h5>
          </div>
        </div>
        <div class="row">
          <div class="col m8">
            <h5>Availability</h5>
            <p class="justify">I am available for all terms and positions effective immediately, I can be contacted by phone,
            text, or email. Please leave a message if I don't pick up the phone, or better yet, leave me a text message. My 
            <a href="/portfolio">portfolio</a> and <a href="/contact">resume</a> are on this website for your convenience.</p>
          </div>
          <div class="col m4">
            <h5>Contact Me</h5>
            <div class="col s3">
              <span>Area: </span>
            </div>
            <div class="col s9">
              <span> Greater Toronto Area</span>
            </div>
            <div class="col s3">
              <span>Phone: </span>
            </div>
            <div class="col s9">
              <span><a href="tel:+16479885226"> 647 988 5226</a></span>
            </div>
            <div class="col s3">
              <span>Email: </span>
            </div>
            <div class="col s9">
              <span><a href="mailto:hdpinto@outlook.com?subject=Job%20Inquiry"> hdpinto@outlook.com</a></span>
            </div>
            <div class="col s12">
              <p> </p>
            </div>
            <div class="col s12">
              <a href="sms://+16479885226" class="hide-on-med-and-up"><span class="waves-effect waves-light btn full-width"><i class="medium mdi-communication-textsms right"></i>TEXT ME</span></a>
            </div>
            <div class="col s12">
              <p> </p>
            </div>
          </div>
        </div>
        <%/* include("chat.ejs")*/%>
      </div>
    </main>