    <main>
      <div class="main-slider hide-on-med-and-up">
        <div class="slide">
          <img src="/img/mobile-main1.jpg" />
          <div class="col s12 valign-wrapper">
            <h5 class="caption">Beautiful Websites</h5>
          </div>
        </div>
        <div class="slide">
          <img src="/img/mobile-main2.jpg" />
          <div class="col s12 valign-wrapper">
            <h5 class="caption">Responsive Design</h5>
          </div>
        </div>
        <div class="slide">
          <img src="/img/mobile-main3.jpg" />
          <div class="col s12 valign-wrapper">
            <h5 class="caption">Create Brand Identity</h5>
          </div>
        </div>
        <div class="slide">
          <img src="/img/mobile-main4.jpg" />
          <div class="col s12 valign-wrapper">
            <h5 class="caption">Anytime Anywhere</h5>
          </div>
        </div>
        <div class="slide">
          <img src="/img/mobile-main5.jpg" />
          <div class="col s12 valign-wrapper">
            <h5 class="caption">Professional Proposals</h5>
          </div>
        </div>
        <div class="slide">
          <img src="/img/mobile-main6.jpg" />
          <div class="col s12 valign-wrapper">
            <!--<h5 class="caption"></h5>-->
          </div>
        </div>
      </div>
      <div class="main-slider hide-on-small-only">
        <div class="slide">
          <img src="/img/main1.jpg" />
          <div class="col s12 valign-wrapper">
            <h4 class="caption">Beautiful Websites</h4>
          </div>
        </div>
        <div class="slide">
          <img src="/img/main2.jpg" />
          <div class="col s12 valign-wrapper">
            <h4 class="caption">Responsive Design</h4>
          </div>
        </div>
        <div class="slide">
          <img src="/img/main3.jpg" />
          <div class="col s12 valign-wrapper">
            <h4 class="caption">Create Brand Identity</h4>
          </div>
        </div>
        <div class="slide">
          <img src="/img/main4.jpg" />
          <div class="col s12 valign-wrapper">
            <h4 class="caption">Anytime Anywhere</h4>
          </div>
        </div>
        <div class="slide">
          <img src="/img/main5.jpg" />
          <div class="col s12 valign-wrapper">
            <h4 class="caption">Professional Proposals</h4>
          </div>
        </div>
        <div class="slide">
          <img src="/img/main6.jpg" />
          <div class="col s12 valign-wrapper">
            <!--<h4 class="caption"></h4>-->
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h4>Websites</h4>
            <p class="justify">My websites are always based on a framework; they give me all the tools I need to get busy coding 
            without having to re-invent the wheel every time. I've used <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>,
            <a target="_blank" href="http://foundation.zurb.com/">Foundation</a>, and <a target="_blank" href="http://materializecss.com/">Materialize</a> 
            in the past, and this particular website is based on the Materialize framework and is using Google's 
            Material Design language. If you're not a recruiter, but a fellow web designer, I encourage you to familiarize
            yourself with these frameworks. I've also filled out pre-purchased templates and made minor to major modifications, 
            as you will be able to see on the wedding site below.</p>
            <div class="row">
              <div class="col m6">
                <img src="//img/portfolio/websites-1.jpg" class="materialboxed responsive-img" data-caption="A wesbite that was created from a themeforest template - filled out and modified to fit the client's needs."/>
                <p class="center"><strong>Wedding Website - <a target="_blank" href="http://janiceandkenny.com/">Live</a></strong></p>
              </div>
              <div class="col m6">
                <img src="//img/portfolio/websites-2.jpg" class="materialboxed responsive-img" data-caption="Superfine Studios first website. I'm currently in the process of redesigning their website to match their new brand."/>
                <p class="center"><strong>Superfine Studios / ANX Group - <a target="_blank" href="http://superfinestudios.co/">Live</a></strong></p>
              </div>
              <div class="col m2 hide-on-small-only"><p> </p></div>
              <div class="col m8 s12">
                <img src="//img/portfolio/websites-3.jpg" class="materialboxed responsive-img" data-caption="Total website redesign from the ground up including a JS based review pane on the home page."/>
                <p class="center"><strong>Rovimat Construction - <a target="_blank" href="http://rovimat.ca/">Live</a></strong></p>
              </div>
              <div class="col m2 hide-on-small-only"><p> </p></div>
          </div>
          <div class="col s12">
            <h4>Campaigns</h4>
            <p class="justify">I've done work for politicians while at ANX Group. This work
            gave me the ability to understand the difference between the needs of businesses,
            non-profits, and individuals. Below you'll see the work I did for a particular
            political named Baljit Johal, who ran in the 2014 Municipal elections in Brampton.</p>
            <div class="row">
              <div class="col m6">
                <img src="//img/portfolio/campaign-1.jpg" class="materialboxed responsive-img" data-caption="Poster & Road Sign for Baljit Johal, a Brampton municipal candidate."/>
                <p class="center"><strong>Poster</strong></p>
              </div>
              <div class="col m6">
                <img src="//img/portfolio/campaign-2.jpg" class="materialboxed responsive-img" data-caption="Business Cards and a Flyer designed for Baljit Johal, a Brampton municipal candidate." />
                <p class="center"><strong>Canvassing Materials</strong></p>
              </div>
            </div>
          </div>
          <div class="col s12">
            <h4>Branding and Documents</h4>
            <p class="justify">Most clients and employers asked me to perform tasks that were not in 
            my immediate repertoire of skills. I truly enjoy such requests when (of course) reasonable, 
            because they give me the opportunity to learn and improve upon new skills. I've become quite good 
            at using software like InDesign, Photoshop, and to a lesser extent, Illustrator as a result.
            I now insist on receiving large and unedited photos from clients so I can make sure they fit perfectly
            and load quickly on their websites.</p>
            <div class="row">
              <div class="col m4">
                <img src="//img/portfolio/publishing-1.jpg" class="materialboxed responsive-img" data-caption="App Development Proposal created on behalf of ANX Group for a client."/>
                <p class="center"><strong>ANX Group</strong></p>
              </div>
              <div class="col m4">
                <img src="//img/portfolio/publishing-2.jpg" class="materialboxed responsive-img" data-caption="Business Cards and matching and form-fillable printable PDFs created for Rovimat Construction Ltd."/>
                <p class="center"><strong>Rovimat Construction</strong></p>
              </div>
              <div class="col m4">
                <img src="//img/portfolio/publishing-3.jpg" class="materialboxed responsive-img" data-caption="Vectorized logo redesign based on old non-vectorized low-quality logo."/>
                <p class="center"><strong>Rovimat Construction</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>