    <main>
        <div class="container">
            <div class="row">
                <br />
                <div class="col m6">
                    <a download href="/resources/HerlanderPinto.pdf"><div class="waves-effect waves-light btn"><i class="small mdi-file-cloud-download right"></i> Download PDF</div></a>
                </div>
                <div class="col m6"> </div>
            </div>
            <div class="row">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="mdi-communication-business"></i>Work Experience</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12 m6">
                                  <div class="card jobcard">
                                    <div class="card-content black-text">
                                      <span class="card-title black-text">ANX Group &amp; Superfine Studios</span>
                                      <p>
                                      <strong>Position </strong>| Full Stack Web Developer <br />
                                      <strong>Tenure </strong>| April 2013 - Present <br />
                                      <br /><strong>Responsibilities</strong>
                                      </p>
                                      <hr />
                                      <p>
                                          I handle day to day operations, but I mainly work as a web developer. 
                                          I've mostly worked with front-end development but I have had experience
                                          working with relational databases and some backend development with NodeJS 
                                          and PHP.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m6">
                                  <div class="card jobcard">
                                    <div class="card-content black-text">
                                      <span class="card-title black-text">Rovimat Construction</span>
                                      <p>
                                      <strong>Position </strong>| IT &amp; Web Consultant <br />
                                      <strong>Tenure </strong>| June 2010 - April 2015 <br />
                                      <br /><strong>Responsibilities</strong>
                                      </p>
                                      <hr />
                                      <p>
                                          I provided IT consulting services to this small business without their own IT 
                                          department. I manage their email, web services, and documents. I don't create 
                                          the content in contracts but I beautify and create a consistent brand image in
                                          their company documents and marketing materials.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6">
                                  <div class="card jobcard">
                                    <div class="card-content black-text">
                                      <span class="card-title black-text">Crossmark</span>
                                      <p>
                                      <strong>Position </strong>| Direct Marketing Specialist <br />
                                      <strong>Tenure </strong>| August 2012 - September 2014 <br />
                                      <br /><strong>Responsibilities</strong>
                                      </p>
                                      <hr />
                                      <p>
                                          I helped assure brand success by skillfully demonstrating products to 
                                          a wide range of consumers in their own grocery store. I had to think on
                                          my feet and remember products attributes for many different products since
                                          I rarely promoted the same brand and product combination twice.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active"><i class="mdi-action-settings"></i>Skills &amp; Proficiencies</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Web Development</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Javascript</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Client-Side Scripting with AngularJS</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Server-Side Scripting with NodeJS</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>HTML &amp; CSS</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Graphic Design &amp; Layout</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Relational Databases &amp; SQL</li>
                                
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="mdi-hardware-laptop-mac"></i>Software &amp; Operating Systems</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Visual Studio</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Adobe Photoshop</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Adobe InDesign</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Adobe Illustrator</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Cloud 9 IDE</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Windows Phone 8+</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Windows XP to 8.1</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Linux RedHat, CentOS, and Fedora</li>
                                <li class="collection-item"><i class="tiny mdi-navigation-check left"></i>Mac OSX Tiger to Yosemite</li>
                                
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="mdi-social-group"></i>Social</div>
                        <div class="collapsible-body">
                            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                            <div class="linkedin">
                                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/herlander-pinto/49/351/b41" data-format="inline" data-related="false"></script>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>      
        </div>
    </main>